<tr>
  <td class="px-4 py-3">
    <div class="flex items-center space-x-3">
      <div>
        <%= link_to alumni.first_name + " " + alumni.last_name, alumni_path(alumni), class: "hover:underline cursor-pointer text-gray-900 dark:text-white font-medium" %>
      </div>
    </div>
  </td>
  <td class="px-4 py-3">
    <%= alumni.email %>
  </td>
</tr>
