<div id="<%= dom_id alumni %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= alumni.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= alumni.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= alumni.email %>
  </div>
</div>
